
src/e-community/backend/local/e-community-local/e-community-local/Util/Extensions/Python/.fleet/settings.json

in-progress/consent-management/src/blockchain/smart_contracts/contracts/artifacts/build-info/

in-progress/consent-management/src/blockchain/smart_contracts/contracts/artifacts/

src/e-community/android/scripts/open-api-cloud/.swagger-generated/

in-progress/consent-management/src/blockchain/scripts/node_generate/node_gen/2023-01-10-12-38-20/goQuorum/

.DS_Store
