
src/e-community/backend/local/e-community-local/e-community-local/Util/Extensions/Python/.fleet/settings.json

in-progress/consent-management/src/blockchain/smart_contracts/contracts/artifacts/build-info/

in-progress/consent-management/src/blockchain/smart_contracts/contracts/artifacts/
