<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".ECommunityApplication"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:icon="@mipmap/ic_e_community_launcher"
        android:label="@string/title_activity_main"
        android:roundIcon="@mipmap/ic_e_community_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ECommunityTheme">

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_e_community" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/blue" />


        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:noHistory="true"
            android:theme="@style/Theme.ECommunityTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StartUpActivity"
            android:exported="true"
            android:noHistory="true"
            android:theme="@style/Theme.ECommunityTheme"/>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:noHistory="true"
            android:theme="@style/Theme.ECommunityTheme" />

        <service
            android:name=".service.FCMService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>