<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="at.fhooe.ecommunity">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".ECommunityApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/title_activity_main"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:allowBackup="false"
        android:theme="@style/Theme.ECommunityTheme"
        android:dataExtractionRules="@xml/data_extraction_rules">
        <activity
            android:name=".StartUpActivity"
            android:exported="true"
            android:theme="@style/Theme.ECommunityTheme"
            android:noHistory="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.ECommunityTheme"
            android:noHistory="true">
        </activity>
    </application>

</manifest>