*{
  box-sizing: border-box;
  font-family: arial;
}
body{
  padding:0;
  margin:0;
  height: 100%;
  width: 100%;
  position: absolute;
}
a{
  text-decoration: none;
  color: #333;
}
/*.jc-container{
  background: #f8f8ff;
  position:absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom:0;
  width: 100%;
  height: 100%;
}*/
.jc-elevator{
  background: #ececec;
  width: 420px;
  height: 430px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-left: 6px solid #abb7b7;
  border-right: 6px solid #abb7b7;
  border-top: 6px solid #abb7b7;
  border-bottom: 1px solid #adadbd;
}
.jc-floor{
  position: relative;
  top:3%;
  left: 43%;
  background: #dadfe1;
  height: 30px;
  width: 60px;
  border: 2px solid #abb7b7;
}
.jc-floor h3{
  color: #808080;
  position: absolute;
  top:-65%;
  left:22.5%;
  text-align: center;
  font: 25px;
}
.jc-doors{
     z-index:1;
  background: #ecf0f1;
  width: 350px;
  height: 370px;
  position:absolute;
  bottom:0;
  left:7.5%;
  overflow:hidden;
  border-left: 4px solid #abb7b5;
  border-right: 4px solid #abb7b5;
  border-top: 6px solid #abb7b5;
}
.jc-doors:before{
  content: '';
  background: #dadfe1;
  border-right: 2px solid #abb7b2;
  width: 170px;
  height: 370px;
  position: absolute;
  top: 0;
  left: 0;
  animation: left 1s linear .5s forwards;
}
.jc-doors:after{
  content: '';
  background: #dadfe1;
  border-left: 2px solid #abb7b2;
  width: 170px;
  height: 370px;
  position: absolute;
  top: 0;
  right: 0;
  animation: right 1s linear .5s forwards;
}
.jc-doors div{
  position:relative;
  z-index: -1;
  top: 20%;
  color: #808080;
  text-align: center;
  line-height: 2;
}
.jc-doors div:nth-child(1){
  font-size: 30px;
}
.jc-doors div:nth-child(2){
  font-size: 12px;
}
.jc-switch{
  position: absolute;
  background: #dadfe1;
  top: 45%;
  left: 103%;
  height: 50px;
  width: 30px;
  border: 2px solid #abb7b7;
}
.jc-switch a:nth-child(1){
  position: absolute;
  top: 15%;
  left: 12%;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #808080;
}
.jc-switch a:nth-child(2){
  content: '';
  position: absolute;
  bottom: 15%;
  left: 12%;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #808080;
}

@keyframes left{
  0%{
    left:0;
  }
  100%{
    left: -45%;
  }
}
@keyframes right{
  0%{
    right: 0;
  }
  100%{
    right: -45%;
  }
}