<div class="centered">
    <div *ngIf="isLoading" class="loader"></div>

    <div *ngIf="!isLoading">
        <div *ngIf="isSuccess">
            <h1>Your password was changed successfully!</h1>
        </div>
        <div *ngIf="!isSuccess">
            <div *ngIf="resetPasswordModel.newPassword == ''">
                <h1>Reset Password</h1>
                <table>
                    <tr>
                        <td><label>Password:</label></td>
                        <td><input type="password" [(ngModel)]="password"></td>
                    </tr>
                    <tr>
                        <td><label>Repeat Password:</label></td>
                        <td><input type="password" [(ngModel)]="repeatPassword"/></td>
                    </tr>
                </table>
                <br/>
                <button (click)="resetPassword()">Reset Password</button>
            </div>
            <div *ngIf="resetPasswordModel.newPassword != ''">
                <h1>An error occured!</h1>
                <h3>Please retry or press forgot password again!</h3>
                <ul style="text-align: left;">
                    <li>Minimum length 6</li>
                    <li>Requires digit (0-9)</li>
                    <li>Requires lowercase letter (a-z)</li>
                    <li>Requires uppercase letter (A-Z)</li>
                    <li>Requires special character</li>
                </ul>
            </div>
        </div>
    </div>
</div>